<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="">
  <form>
    First Name: <input type="text" ng-model="firstname"><br>
    Last Name: <input type="text" ng-model="lastname"><br><br>
    Question: <input type="textbox" ng-model="question"><br><br>
    Answer: <input type="textbox" ng-model="answer"><br><br>
    
    
  </form>
  <h1>You entered: </h1>
  {{firstname}}
  {{lastname}}<br>
  Your Question: {{question}}<br><br>
  Your Answer: {{answer}}
  <br>
</div>

<p>This the first mock up of the user input for code seekers.</p>
< a href="next.html">

</body>
</html>
